*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #272932;
  color: #cb1dcd;
  padding: 0;
  margin: 0;
  transition: all 0.25s linear;
}

.wrapper {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100vw;
  z-index: 1;
  padding: 1rem;
  transition: padding-top 0.125s;
}

.type-box {
  display: block;
  max-width: 1000px;
  height: 140px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 10%;
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    top: 200px;
    width: 60%;
  }
}

.words {
  color: #d1c5c0;
  font-size: 28px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
  user-select: none;
}
.word {
  margin: 5px 5px;
  display: flex;
  padding-right: 2px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  scroll-margin: 4px;
}
.active-word {
  animation: blinkingBackground 2s infinite;
  border-top: 1px solid transparent;
  border-bottom: 1px solid;
  @keyframes blinkingBackground {
    0% {
      border-bottom-color: #00ff9f;
    }
    25% {
      border-bottom-color: #d1c5c0;
    }
    50% {
      border-bottom-color: #00ff9f;
    }
    75% {
      border-bottom-color: #d1c5c0;
    }
    100% {
      border-bottom-color: #00ff9f;
    }
  }
  scroll-margin: 4px;
}
.active-word-no-pulse {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  scroll-margin: 4px;
}
.error-word {
  border-bottom: 1px solid red;
  scroll-margin: 4px;
}
.char {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.correct-char {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  color: #cb1dcd;
}
.error-char {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  color: red;
}
.caret-char-left {
  border-left: 1px solid #00ff9f;
  border-right: 1px solid transparent;
}
.caret-char-left-start {
  border-left: 1px solid;
  border-right: 1px solid transparent;
  animation: blinkingCaretLeft 2s infinite;
  animation-timing-function: ease;
  @keyframes blinkingCaretLeft {
    0% {
      border-left-color: #00ff9f;
    }
    25% {
      border-left-color: #d1c5c0;
    }
    50% {
      border-left-color: #00ff9f;
    }
    75% {
      border-left-color: #d1c5c0;
    }
    100% {
      border-left-color: #00ff9f;
    }
  }
}
.caret-char-right {
  border-right: 1px solid #00ff9f;
  border-left: 1x solid transparent;
}
.caret-char-right-correct {
  color: #cb1dcd;
  border-right: 1px solid #00ff9f;
  border-left: 1px solid transparent;
}
.caret-char-right-error {
  color: red;
  border-right: 1px solid #00ff9f;
  border-left: 1px solid transparent;
}
.caret-extra-char-right-error {
  color: red;
  border-right: 1px solid #00ff9f;
  border-left: 1px solid transparent;
}

.hidden-input {
  opacity: 0;
  filter: alpha(opacity=0);
}
.select {
  color: #cb1dcd;
  background: #272932;
  border: none;
  min-width: 5%;
}
.restart-button {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}
.restart-button button:hover {
  transform: scale(1.18);
  transition: 0.3s;
}
.alert {
  opacity: 0.3;
  background-image: linear-gradient(315deg, #fdf500 0%, #cb1dcd 94%);
}
.correct-char-stats {
  color: #cb1dcd;
}
.incorrect-char-stats {
  color: red;
}
.missing-char-stats {
  color: #d1c5c0;
}
.speedbar {
  opacity: 0.3;
  color: #00ff9f;
}
.active-button {
  color: #00ff9f;
}
.inactive-button {
  color: #d1c5c0;
}

.key-type {
  background: #d1c5c0;
  color: #00ff9f;
  border-radius: 4px;
}
.key-note {
  color: #00ff9f;
  background: transparent;
}
.novelty-container {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
}
